html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.no-outline {
    outline: none;
}

.spacer {
    flex: 1 1 auto;
}

.no-border {
    border: none;
}

.trasparent{
    background-color: transparent; 
}
