<ion-content>
  <ion-list>
    <ion-item (click)="routeTo('/home/gif/giphy')">
      <ion-thumbnail slot="end">
        <img src="../../../../assets/images/giphy-logo.gif" />
      </ion-thumbnail>
      <ion-label style="cursor: default">Giphy</ion-label>
    </ion-item>
    <ion-item (click)="routeTo('/home/gif/saved')">
      <ion-thumbnail slot="end">
        <img src="../../../../assets/images/bookmark.svg" />
      </ion-thumbnail>
      <ion-label style="cursor: default">Saved</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
