.whiteboard-container {
  margin: 10vw;
  height: 80vw;
  width: 80vw;
}

.hue-picker {
  margin: 0 10vw 5vw 10vw;
  width: 80vw;
}

.shade-picker {
  margin: 0 10vw 5vw 10vw;
  width: 80vw;
}

.fab-container{
  margin: 0 10vw 0 10vw;
  width: 80vw;
}
